/********** Template CSS **********/
:root {
    --primary: #86b817;
    --secondary: #fe8800;
    --light: #f5f5f5;
    --dark: #14141f;
    --purple: hsl(240, 80%, 89%);
    --pink: hsl(0, 59%, 94%);
    --light-bg: hsl(204, 37%, 92%);
    --light-gray-bg: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%);
    --text-gray: hsl(0, 0%, 30%);
}

body {
    color: #000;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #ffffff;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: "Nunito", sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: #ffffff !important;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: 0.5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    /* color:  !important; */
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: 0.5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #ffffff;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #dddddd;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, 0.1);
        z-index: 999;
    }

    .sticky-top.navbar-light {
        position: fixed;
        background: #fff;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: 0.5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}

/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(20, 20, 31, 0.7), rgba(20, 20, 31, 0.7)),
        url(../img/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255, 255, 255, 0.5);
}

/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}

/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    transition: 0.5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: 0.5s;
}

.service-item:hover * {
    color: var(--light) !important;
}

/*** Destination ***/
.destination img {
    transition: 0.5s;
    width: 100%;
}

.destination a:hover img {
    transform: scale(1.1);
}

/*** Package ***/
.package-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    height: 100%;
}

.package-item img {
    transition: 0.5s;
}

.package-item:hover img {
    transform: scale(1.1);
}

/*** Booking ***/
.booking {
    background: linear-gradient(rgba(15, 23, 43, 0.7), rgba(15, 23, 43, 0.7)),
        url(../img/booking.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

.team-item img {
    transition: 0.5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .btn {
    background: #ffffff;
    color: var(--primary);
    border-radius: 20px;
    border-bottom: 1px solid var(--primary);
}

.team-item .btn:hover {
    background: var(--primary);
    color: #ffffff;
}

/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

/* Comment bóng mờ slide */
/* @media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
} */

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #ffffff;
    border-radius: 35px;
    transition: 0.3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/* Menu sub ở đây */
#nav {
    height: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
}

#nav li {
    display: inline-block;
    position: relative;
    float: left;
}

#nav li a {
    display: inline-block;
    width: 100%;
    line-height: 35px;
    padding: 0px 7px 0px 7px;
    text-decoration: none;
    /* color: #ffffff; */
    color: #86b817;
}

#nav li li {
    float: left;
    padding: 0;
}

#nav li li a {
    display: block;
    font-size: 15px;
    width: 150px;
}

#nav .li:hover,
#nav .li.active {
    color: var(--primary) !important;
}

/*--- Sublist Styles ---*/
#nav ul {
    position: absolute;
    padding: 0px;
    left: 0;
    display: none;
    background-color: var(--primary);
}

#nav li ul {
    padding: 0px 20px 0px 20px;
}

/*--- Hide Sub Sublists ---*/
#nav li:hover ul ul {
    display: none;
}

/*--- Sublevel UL's display and position on hover ---*/
#nav li:hover ul {
    display: block;
}

#nav li li:hover>ul {
    margin-left: 100%;
    margin-top: -35px;
    display: block;
}

.search-input {
    width: 500px;
}

.navbar.sticky-top #nav li a {
    color: #14141f;
}

.navbar.sticky-top .search-input {
    border: 1px solid #14141f;
    border-radius: 30px;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 10px;
    margin: 0;
    font-size: 1rem;
    color: #808b8d;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
    right: 0;
    top: 18px;
}

/* .dots-2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
} */
.dots-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2em;
    line-height: 2em;
    font-size: 25px;
}

.dots-22 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 2em;
    line-height: 2em;
}

.card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 7em;
    line-height: 22px;
}

.card-description-sidebar {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
    line-height: 22px;
    width: 95%;
}

.dots-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

img.img-fluid.img-config {
    height: 300px !important;
    width: 100%;
    object-fit: contain;
}

img.img-fluid.img-config-slide {
    height: 410px !important;
    width: 100%;
    object-fit: contain;
}

.card-home {
    max-height: 550px;
    /* border: 1px solid; */
}

.card-home-slide {
    max-height: 630px;
    height: 630px;
}

.card-side-bar {
    max-height: 200px;
    padding: 0;
    display: flex;
    border: 1px solid #ddd;
    background-color: #fff;
}

/* ================================= */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-size: 1em;
    line-height: 1.7;
    font-weight: 300;
    color: var(--text-gray);
}

.description {
    white-space: wrap;
}

/* a {
    text-decoration: none;
    color: inherit;
} */

.wrap {
    display: flex;
    justify: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 10px;
    background: #fff;
}

.box-post {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 10px;
    background: #fff;
}

.box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    /* margin-bottom: 36px; */
}

.box-image {
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: 50% 20%;
}

.box-image:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-title {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
}

.user-follow-info {
    color: hsl(0, 0%, 60%);
}

.button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    /* color: #000; */
    background: transparent;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: background 0.4s ease;
}

.button:hover {
    background: var(--primary);
    color: #fff;
}

.fill-one {
    background: var(--light-bg);
}

.fill-two {
    background: var(--pink);
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 460px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 640px) {
    .box {
        flex-basis: calc(50% - 12px);
        box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    }

    .box-post {
        box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 840px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1024px) {
    .box {
        flex-basis: calc(33.3% - 16px);
        box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    }

    .box-post {
        box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1100px) {
    .box {
        flex-basis: calc(25% - 18px);
        box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    }

    .box-post {
        box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    }
}

@media (min-width: 1400px) {
    .box {
        flex-basis: calc(25% - 18px);
        box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    }

    .box-post {
        box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
        flex-basis: calc(47%);
    }
}